# Chapter 2: Variables and and Simple Data Types
* A variable name is an **identifier**. 
* May consist of letters, digits and underscores (`_`) but may not begin with a digit. 
* Python is _case sensitive_. 
* Each value in Python has a type that indicates the kind of data the value represents.

####  Statement creates `x` and uses the **assignment symbol (`=`)** to give `x` a value.

In [2]:
x_0="Hello World"
print(x_0)

Hello World

In [3]:
x0_="Welcome to the Python Programming Language"
print(x0_)

Welcome to the Python Programming Language

In [5]:
#0_x= "Python"
# A variable can not start with a digit

### Print a message

In [6]:
message="simple message"
print(message)

simple message

### Try to print a Simple Message: Store a message in a variable, and then print that message.

In [7]:
x_1="Storing a message in a variable to print it after"

In [8]:
print(x_1)

Storing a message in a variable to print it after

# Strings

## A string is simply a series of characters. Anything inside quotes is considered a string in Python, and you can use `single` or `double quotes` around your strings
### "This is a string."
### 'This is also a string.'

###  Build in String methods
Directory: dir('  ')

In [1]:
dir(" ")

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [16]:
# make uppercase
message="PyThon PRograMming LanGuagE"
print("The upper case: ",message.upper())

The upper case:  PYTHON PROGRAMMING LANGUAGE

In [17]:
# make lowercase
print("The lower case: ",message.lower())

The lower case:  python programming language

In [18]:
# capitalize
print("The capitalize case: ",message.capitalize())

The capitalize case:  Python programming language

In [19]:
# title
print("The title case: ", message.title())

The title case:  Python Programming Language

In [20]:
# Concatination
message_new=message.lower()
print("Welcome to "+message_new)

Welcome to python programming language

In [21]:
# length
message_new
print(message_new)
len(message_new)

python programming language

27

### Format the string using f-string
`formatted string literals,` **f-strings** are string literals that have an f at the beginning and curly braces containing expressions that will be replaced with their values.

In [22]:
name="Sam"
age=20

In [23]:
print("The name is: "+name)

The name is: Sam

In [24]:
# print("The digit is"+ age)
# Type error as we can not concatinate a string with a number/integer
print("The age is: ", age)

The age is:  20

In [26]:
print(f"The name is {name}. The age is {age}")

The name is Sam. The age is 20

In [27]:
number1=45
number2=57
print(f"The first number is {number1}. The second number is {number2}")
print(f"The multiplication of first and second number is {number1*number2}")

The first number is 45. The second number is 57
The multiplication of first and second number is 2565

## Practice1:
1. Personal Message: Store a person’s name in a variable, and print a message
to that person. Your message should be simple, such as, “Hello Eric,
would you like to learn some Python today?”
2. Name Cases: Store a person’s name in a variable, and then print that person’s
name in lowercase, uppercase, and titlecase.

In [31]:
name="Pedro"
print(f"Hello {name}, I hope you are doing well.")

Hello Pedro, I hope you are doing well.

In [32]:
print(f"Hello {name.upper()}, I hope you are doing well.")

Hello PEDRO, I hope you are doing well.

In [33]:
print(f"Hello {name.lower()}, I hope you are doing well.")

Hello pedro, I hope you are doing well.

In [34]:
print(f"Hello {name.title()}, I hope you are doing well.")

Hello Pedro, I hope you are doing well.

## Adding Whitespace to Strings with Tabs or Newlines or  quotation
* A backslash (`\`) in a string is the **escape character**. 
* The backslash and the character immediately following it form an **escape sequence**. 

#### 2.4.2 Other Escape Sequences
| Escape sequence | Description
| :------- | :------------
| `\n` | Insert a newline character in a string. When the string is displayed, for each newline, move the screen cursor to the beginning of the next line. 
| `\t` | Insert a horizontal tab. When the string is displayed, for each tab, move the screen cursor to the next tab stop. 
| `\\` | Insert a backslash character in a string.
| `\"` | Insert a double quote character in a string.
| `\'` | Insert a single quote character in a string.

In [37]:
print("Insert a new line character in a string")

Insert a new line character in a string

In [38]:
print("Insert \na \nnew \nline \ncharacter \nin \na \nstring")

Insert
a
new
line
character
in
a
string

In [39]:
print("Insert \ta \tnew \tline \tcharacter \tin \ta \tstring")

Insert 	a 	new 	line 	character 	in 	a 	string

In [40]:
print("The student's name is : Eric")

The student's name is : Eric

In [41]:
print('The student\'s name is: Eric')

The student's name is: Eric

## Useful methods for split a string

In [42]:
dir("")

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [58]:
print(message)
message.split(sep=" ")
#This is how to convert a string into a list

PythoN PRogramMing LanGUage

['PythoN', 'PRogramMing', 'LanGUage']

In [59]:
message.split(sep="P")

['', 'ythoN ', 'RogramMing LanGUage']

## Useful methods for strip a string
- lstrip
- rstrip
- strip

In [64]:
message1=" Python Programming Language "

In [65]:
message1.lstrip()

'Python Programming Language '

In [66]:
message1.rstrip()

' Python Programming Language'

In [67]:
message1.strip()

'Python Programming Language'

## Practice2
1. Stripping Names: Store a person’s name, and include some whitespace characters at the beginning and end of the name. Make sure you use each character combination, "\t" and "\n", at least once.
Print the name once, so the whitespace around the name is displayed.
Then print the name using each of the three stripping functions, lstrip(),
rstrip(), and strip().

In [68]:
print("Juan Ballas")

Juan Ballas

In [72]:
print("Ju\nan\nBa\nll\nas")

Ju
an
Ba
ll
as

In [73]:
print("Ju\tan\tBa\tll\tas")

Ju	an	Ba	ll	as

In [74]:
name="Ju\tan\tBa\tll\tas"
print(f"The lstrip of name: {name.lstrip()}")

The lstrip of name: Ju	an	Ba	ll	as

#### Replacing words or characters of a string

In [76]:
#message_new.replace('python','r')
message="Python Programming Language"
message=message.replace("Python", "Java")
print(message)

Java Programming Language

In [77]:
message=message.replace("a","x")
print(message)

Jxvx Progrxmming Lxnguxge

# Number

# Data Types
* `float` (floating point) - used for real numbers.
* `int` (integer) - used for integers.

## Arithmetic Operator
| Python operation | Arithmetic operator | Python expression
| :-------- | :-------- | :-------- 
| Addition | `+`  | `f + 7` 
| Subtraction | `–` | `p - c` 
| Multiplication | `*` | `b * m` 
| Exponentiation | `**` |  `x ** y` 
| True division | `/` | `x / y` 
| Floor division | `//` | `x // y` 
| Remainder (modulo) | `%` | `r % s` 

`Floor division` is an operation in Python that divides two numbers and rounds the result down to the nearest integer.

In [79]:
#True Division
12/5

2.4

In [80]:
#Floor Division
12//5

2

In [81]:
#Remainder (of the division)
12%5

2

In [82]:
#Exponent
12**5

248832

## Avoiding Type Errors with the str() Function

In [83]:
#With out STR function, it ended on error. STR converts calues into strings.
name="Mateo"
age=22
print("The name is " + name + ". The age is "+ str(age))

The name is Mateo. The age is 22

In [85]:
#int means integral value
type(age)

int

In [86]:
type(name)

str

In [87]:
type(str(age))

str

## Practice3 
1. Write addition, subtraction, multiplication, and division
operations that each result in the number 91. Be sure to enclose your operations
in print statements to see the results. You should create four lines that look
like this:
print(53 + 38)
Your output should simply be four lines with the number 91 appearing once
on each line.
2. Favorite Number: Store your favorite number in a variable. Then, using
that variable, create a message that reveals your favorite number. Print that
message.

In [88]:
print(f"The addition:{81+10}")

The addition:91

In [89]:
print(f"The substraction:{100-9}")

The substraction:91

In [90]:
print(f"The multiplication:{7*13}")

The multiplication:91

In [ ]:
print(f"The division:{182/2}")

In [91]:
x5=22
print(f"My favorite numner is: {x5}")

My favorite numner is: 22

## Getting Input from the User
* Built-in **`input` function** requests and obtains user input.

In [92]:
Color=input('My favorite color is: ')

My favorite color is: Yellow

In [93]:
first_name= input("Enter your first name: ")
last_name= input("Enter your last name: ")
print(f"The full name: {first_name} {last_name}")

Enter your first name: Juan
Enter your last name: Ballas
The full name: Juan Ballas

In [94]:
type(first_name)

str

In [95]:
number=input("Enter a number: ")
print(number)
type(number)

Enter a number: 22
22

str

## Getting an Integer/ Float from the User
* If you need an integer, convert the string to an integer using the built-in **`int` / `float` function**.

In [96]:
number1= int(input("Enter a integer :"))
number2= float(input("Enter a floating point number: "))
print(f"The first number is {number1}. The second number is {number2}.")
print(f"Multiplication equals: {number1*number2}")

Enter a integer :34
Enter a floating point number: 12
The first number is 34. The second number is 12.0.
Multiplication equals: 408.0

In [97]:
number3=float(input("Enter any number: "))
print(number3)

Enter any number: 9
9.0

## Checking the data type using `type` function

In [98]:
type(number3)

float

In [99]:
type(number1)

int

## Errors in Python
When an error occurs in your program, the Python interpreter does its
best to help you figure out where the problem is. The interpreter provides
a traceback when a program cannot run successfully. A traceback is a record
of where the interpreter ran into trouble when trying to execute your code.
Errors can be classified into three major groups:
- Syntax errors
- Runtime errors
- Logical errors

### Syntax error.
- Python will find these kinds of errors when it tries to parse your program, and exit with an error message without running anything. 
- Syntax errors are mistakes in the use of the Python language, and are analogous to spelling or grammar mistakes in a language like English: for example, the sentence Would you some tea? does not make sense – it is missing a verb.

### Example:
- leaving out a keyword
- putting a keyword in the wrong place
- leaving out a symbol, such as a colon, comma or brackets
- misspelling a keyword
- incorrect indentation
- empty block

In [100]:
#print('This is a error message)
#fix
print('This is a error mesage, now fixed')

This is a error mesage, now fixed

In [102]:
#length(hello)
len('hello')

5

## Runtime error
- A program with a runtime error is one that passed the interpreter’s syntax checks, and started to execute. 
- However, during the execution of one of the statements in the program, an error occurred that caused the interpreter to stop executing the program and display an error message. 
- Runtime errors are also called `exceptions` because they usually indicate that something exceptional (and bad) has happened.

### Examples: 
- division by zero.
- performing an operation on incompatible types.
- using an identifier which has not been defined.
- accessing a list element, dictionary value or object attribute which doesn't exist.
- trying to access a file which doesn't exist.

In [105]:
#division by zero
#print(6/0)

In [106]:
#subtotal=input("Enter total before tax:")
#tax= .06 * subTotal #misspelled word
#print("tax on", subtotal, "is:", tax)
#Python is case sensitive

In [110]:
total= float(input("Enter the amount you spent: "))
tax=.06*total
print(f"The subtotal is: {total+tax}")

Enter the amount you spent: 699
The subtotal is: 740.94

### Logical error
- Logical errors are the most difficult to fix. They occur when the program runs without crashing, but produces an incorrect result. 
- The error is caused by a mistake in the program’s logic. 
- You won’t get an error message, because no syntax or runtime error has occurred. 
- You will have to find the problem on your own by reviewing all the relevant parts of your code

In [111]:
number = 33
number2= 44
print(f"The addition of the two numbers equals: {number*number2}")

The addition of the two numbers equals: 1452